<div class="navbar navbar-expand-sm bg-dark navbar-lewagon fixed-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Logo_fondo_dark.png", alt: "Logo", class:"navbar-logo" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "Find your Car", cars_path, class:"nav-link text-white me-2" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag(
              github_avatar_url(current_user) || "default_avatar.png",
              class: "avatar dropdown-toggle",
              id: "navbarDropdown",
              data: {bs_toggle: "dropdown"},
              aria: {haspopup: "true", expanded: "false"}
            )%>
            <%# <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/CarlosArroyo13" alt=""> %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Chats",  chats_path, class:"dropdown-item" %>
              <%= link_to "Edit account",  edit_user_registration_path, class:"dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class:"dropdown-item border-top" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class:"nav-link text-white" %>
          </li>
        <% end %>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
