<h1>Chats</h1>

<p> Welcome,
  <strong>
    <%= @user.first_name.capitalize %>
    <%= @user.last_name.capitalize %>
  </strong>
 you can use an assitant AI to do a consunltant about our vehicles</p>

<%= simple_form_for @chat do |f| %>
  <%= f.submit "Use assitant AI", class: "btn btn-primary" %>
<% end %>

<%= console %>
