<div class="container bg-white m-5 p-3 shadow overflow-hidden mx-auto my-4 shadow p-3 w-75">
  <div class="d-flex justify-content-center mb-3">
    <h3><%= @chat.title %></h3>
  </div>
  <% @chat.messages.each do |message| %>
  <div class="d-flex justify-content-end">
    <div class="bg-light border px-3 pt-2 m-2 rounded-pill">
      <% if message.role == "user" %>
        <p><%= message.content %></p>
      <% end %>
    </div>
  </div>
  <div>
    <div class="bg-white border px-3 pt-2 m-2 rounded">
      <% if message.role == "assistant" %>
        <%= raw(render_markdown(message.content)) %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
  <div class="container sticky-bottom bg-white p-3 shadow overflow-hidden mx-auto my-4 shadow p-4 w-75">
    <%= simple_form_for [@chat, @message], html: { class:"sticky-bottom" } do |f| %>
      <%= f.input :content, label:"Chat with AI Assitant", placeholder: "Tell me something" %>
        <div class="d-flex justify-content-between mb-3">
          <%= f.submit "Ask", class: "btn btn-primary rounded-4" %>
          <%= link_to "Back to Chats", chats_path, class:"btn btn-primary rounded-4" %>
      </div>
    <% end %>
  </div>


<%#= console %>
