<div class="container m-3 p-3 shadow overflow-hidden">
  <% @chat.messages.each do |message| %>
  <div class="d-flex justify-content-end">
    <div class="bg-white px-3 pt-2 rounded-pill">
      <% if message.role == "user" %>
        <p><%= message.content %></p>
      <% end %>
    </div>
  </div>
  <div>
    <div>
      <% if message.role == "assistant" %>
        <p><%= message.content %></p>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

  <%= simple_form_for [@chat, @message], html: { class:"sticky-bottom" } do |f| %>
    <%= f.input :content, label:"Ask a question", placeholder: "Type a question..." %>
    <%= f.submit "Ask", class: "btn btn-primary" %>
  <% end %>

<%#= console %>
